.boks1, .boks2, .boks3, .boks4{
    border: 6px solid var(--gray-light);
    margin-left: 30px;
    margin-top: 50px;
    width: 300px;
    min-width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
  }