body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(100, 9, 9);
}

h1 {
    color: rgb(135, 167, 81);
    font-family: Arial, Helvetica, sans-serif;
    /* en border har 3 værdier tykkelse, type, farve */
    border:3px solid black;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.layout {
    margin: 10px;
    padding: 10px;
    color: rgb(135, 167, 81);
    font-size: 24px;
    text-align: center;
    width: auto;
    border: 3px solid black;
}

.container {
    padding: 15px;
    margin-top: 15px;
    display: flex;
}

.evenly {
    justify-content: space-evenly;
} 

p {
    color: white;
    display: flex;
}

.Overskriftstr {
    font-size: 30px;
    border:3px solid grey;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

a:link, a:visited {
 color: hotpink;
}

a:hover {
  color: blue;
}
