/* *=alt koden. Funktion: resetter alt margin og padding på alle elementer */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.simple{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid cornflowerblue;
    height: 50px;
    align-items: flex-end;
}

.simple nav{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.logo{
    margin-left: 20px;
    padding-bottom: 14px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.simple a{
    text-decoration: none;
    color: cornflowerblue;
    font-weight: bold;
    border-bottom: 4px solid white;
    padding-bottom: 10px;
}

.simple a:hover{
    border-bottom: 4px solid cornflowerblue;
}

.logo a:hover{
    border-bottom: 4px solid white;
}

.tabs{
    margin-top: 100px;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: center;
}

.tabs nav{
    width: 550px;
    display: flex;
    justify-content: space-around;
}

.tabs nav a{
    text-decoration: none;
    color: #333;
    border: 1px solid #333;
    padding: 10px 20px 10px 20px;
    width: 120px;
    text-align: center;
    margin-bottom: -1px;
    /* 4 hjørener fra øverst venstre og uret rundt */
    border-radius: 16px 16px 0 0;
    background: linear-gradient(#ddd, #333);
}
.aktiv{
background: white !important;
border-bottom: 1px solid white !important;
}
