html, body{
    background-color: gray;
    /* height: 100%; */
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    border: 5px solid blue;
    /* height: 90vh; */
    flex-wrap: wrap;
}

.container >div{
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: gray;
    width: 300px;
}

.container > div:nth-child(1){background-color: rgb(232, 7, 253);}

.container > div:nth-child(2){background-color: red;}

.container > div:nth-child(3){background-color: cornflowerblue;}


.home{
    order: 1;
}
.contact{
    order: -1;
}

/* .home{
    flex: 1 1 200px;
}

.contact{
    flex: 10 1 200px;
} */

/* .container >.home{
    flex: 1;
}

/* .container >.search{
    flex: 2;
} */

/* .container >.contact{
    flex: 1;
} */


/* .contact{
    margin-left: auto;
}

.home{
    margin-right: auto;
} */