*{
box-sizing: border-box;

}



body{
font-family: Arial, Helvetica, sans-serif;
line-height: 1.4em;

}



.container{
   max-width: 960px;
   margin: 30px auto; 
}

.box{
    background-color: gray;
    border: 3px solid black;
    padding: 20px;
    margin-bottom: 15px;

}
.box p{
    text-align: left;
    /* text-align: right;
    text-align: center;
    text-align: justify; */
}

#box2{
    float: left;
    width: 68%;

}
#box3{
float: right;
width: 30%;
}


.clr{
clear: both;
}


