body{
    font-family: 'Habibi', serif;

    font-family: 'Habibi', serif;
font-family: 'Noto Sans NKo Unjoined', sans-serif;
}

h1,h2,h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h3{
color: green;

}


.saerlig{
    font-size: 20;
    text-align: center;
    color: blueviolet;

}
