*{
    margin: 0;
    padding: 0;
}

body{
    margin: 10px 2% 10px 2%;
}

.logo{
    background: cornflowerblue;
    height: 50px;
    margin-bottom: 10px;
}

.hovedmenu{
    background: lavender;
    height: 50px;
    margin-bottom: 10px;
}

.undermenu{
    background: yellowgreen;
    display: none;
}
article{
    background: dimgray;
    height: 400px;
    margin-bottom: 10px;
    overflow: hidden;
}

.banner{
    background: lightcoral;
    display: none;
}

footer{
    background: khaki;
    height: 60px;
}
img{
    width:100%;
    height: 100%;
}
/* "media query" - css til tablet og derover */
@media screen and (min-width: 682px) {
    .container{
        display: flex;
        flex-wrap: wrap;
    }
    .undermenu{
        display: block;
        width: 25%;
        margin-bottom: 10px;
    }
    .logo{
        width: 25%;
    }
    .hovedmenu, article{
        width: 73%;
        margin-left: 1%;
    }
    footer{
        width:100%;
    }
}
/* css til desktop-format */
@media screen and (min-width:1064px){
    .banner{
        display:block;
        width: 30%;
        margin-left: 1%;
        margin-bottom:10px;
    }
    article{
        width: 43%;
        margin-left: 1%;
    }
    .hovedmenu{
        margin-left: 1%;
        width: 74%;
    }
}

@media  screen and (min-width:1210px) {
    .container{
        max-width:1210px;
        margin-left: auto;
        margin-right: auto;
    }

}