*{
    margin: 0;
    padding: 0;
}

body{
    margin: 10px 2% 10px 2%;
}

.logo{
    background: cornflowerblue;
    height: 50px;
    margin-bottom: 10px;
}

.hovedmenu{
    background: lavender;
    height: 50px;
    margin-bottom: 10px;
}

.undermenu{
    background: yellowgreen;
    display: none;
}
article{
    background: dimgray;
    height: 400px;
    margin-bottom: 10px;
}

.banner{
    background: lightcoral;
    display: none;
}

footer{
    background: khaki;
    height: 60px;
}

@media screen and (min-width: 682px) {
    .undermenu{
        display: block;
    }
}